[Desktop Entry]
Type=Application
Name=Lace's Total Media Downloader
Comment=Download videos and audio from the internet
Exec=laces-total-media-downloader
Icon=com.laceediting.TotalMediaDownloader
Terminal=false
Categories=AudioVideo;Audio;Video;Network;
Keywords=download;video;audio;youtube;media;yt-dlp;
StartupWMClass=laces-total-media-downloader
